@keyframes pageSwitch {
    0%   { width: 0; }
    100% { width: 100%; }
}
nav#menu {
    text-align: center;
    margin: 10px 0 0;
}

.menuItems {
    color: #000000;
    text-decoration: none;
    margin: 0 20px 0;
    position: relative;
}

.menuItems::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #000000;
    visibility: hidden;
    transform: translateY(5px);
    transition: all 0.2s ease-in-out 0s;
}

.menuItems:hover::before {
    visibility: visible;
    transform: translateY(0);
}

.active {
    position: relative;
}

.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    background: #000000;
    animation: pageSwitch 0.3s linear 1 forwards;
}

main {
    text-align: center;
    position: relative;
}

router-outlet {
    text-align: center;
}

button {
    border: none;
    background: none;
    outline: none;
    
}