<header>
    <img src="../../assets/Michal-Czyz.png" alt="Michał Czyż" id="logo">
</header>
<main>
    Michał Czyż is a high school student living in Poland. Michał is a starting coder, currently he's writing in i.a. C#, VB.NET, C++, Python, Javascript & Angular. Michał wants to be a web designer and front-end
    developer, but he still has some time to change his mind. Besides coding, Michał is also a speedcuber, magician and
    casual gamer. On this website, you will find more about his hobbies and projects.
</main>

<template>
    -----BEGIN PGP PUBLIC KEY BLOCK-----

mQGNBGBORp4BDADBZyTWks+NPjeFy3W4RuJUcNtA/UhSzDgKefWhLry9dw2CCvnn
dYwN8pxH29Vypue/fWLRjgMH9CBF4gxS5u5q/zau9ZN+caKXgOdUjF3Yhz92JQ+y
dwxNtdUheJ/AEolYG+FaTPkdkvCgJ15GbNsPG5ZteVdVALY05uz2aZqoGQs4+Wx0
2djHvUmWslj8ijFr6Yzq3Fy8auWJ8QiUa9yvSZ3GY2WNOBq4sS4X6KZ+vRrtJmuh
2FI9iY0VsuW1rXn88r1Z7LJIsflznClawOzCql8izHXxxlZVbdX0GLBwOQc1BNqI
zt4YMd6Lzoxybv9z/qL5fNkJBjfUo8t1EQ100qWp8/Uk75Ov77scFywvKAXyT7uX
VV0IJArPK/eD3c8RJv+uQQzsE2/o5j+Q53BG4PnbOyG2fUP31tf0+/QseKH4jPjx
6nyij3dOqtb3I5j9bqxRayeqEA2L5l/5ZAbyr+/meVktngsQIkjDBwhojpswHsbv
cccoczLXJuUkYbEAEQEAAbQbTWlrZTk0NTQxMDU4IDxhcmdAY3p5ei5pY3U+iQHU
BBMBCAA+FiEER9CCxhqNEWGFf+DwUwGu/avN7ewFAmBORp4CGwMFCQPCDRIFCwkI
BwIGFQoJCAsCBBYCAwECHgECF4AACgkQUwGu/avN7eyzywv+Jz8eFv5/y2Yp5FHY
bVi3WmCycyInSNF6y/jQ0Z4aCpGUPav0CxLpmB10r09yrtfQDW65xlGgsEDr8xhU
Hi6JHHy/G8t5n+JXet3/nYCp9ae+zpYy2QMZXTQqpCxgebHOCHV+nQvztqGlSZi0
E7YaNIdr8B1v+vMGSPaoPB9JSI6/4RY+4c6v2Yqq5C1Q3T3jx7S6Tc99vjPH5zys
zgIFDRK/HgyUrkIO+Zkd/kLrUwpceCKZllZs4tgPrRLxW9jRuQwVbcFEIZLSkDqT
576hTSQuiZid5Ufp/N5P12ERV7AWtBXszY/U9cGcSVyntC6aamtSLuyWgrH+9tVZ
a1+LH0w92+hXAnNebfnE4/7r4ULI9Ge5JWNDDnu87QMSA2b9sEVe0Hqj2X6lkcvM
PFmU+noFRQrpjuRXdueLAUUMXACeUWrt91DPTmYGGjtbuyVJynP08GFOrdCzpEig
4dPdVOnBiEsTXsG4+7qIOvSjaJtVujm+5xj0wf8+Ldf7R+WjuQGNBGBORp4BDADU
vcNEa5qmU5QhCAPYEu2Sak/6v3qGyj/LLKWwqN33YRnq/eQtko1SoD1oxwTnXvtc
uO+km7JguRyhrNi3QDqqY+WIC+liSjCEMj/fe4XHHQXuAeToW8HTtjwdbi79y/OP
R/whkAg4OHDU4VYvlxfOkGiAzlNbRCsZ9XVIvxti5VxFaa6hatrujlqzDlqBRkzD
niYEPRgl9lLdtqplNmpir9GkvpIJaf2QIGMuW+pbA4LcZeZJMxXaLNES2mbxwJ5y
lohO30CnX5r09phIOjKtovi2hmpqMew8c8wYDcvHIH7ydaNsMQ+sQ0MHi0WLgk0z
KI0wbR84YWs5fR+XAjiEEN28ikXwlPcFIHzIPmEPYVIWqg4QViRZMq+IDRbbg4Re
NSfBzGM7ULIdvdET4NNFIDgcznf8WrgZAYLXQWnZg4Y+efVjCPzX8uheh7MU9nsC
qWJSzaPdvOsjUQ2zqkM4xNOri6oKKxCkjXBzuECVJtq6Bkec9ORxZ2CB8TaiiIkA
EQEAAYkBvAQYAQgAJhYhBEfQgsYajRFhhX/g8FMBrv2rze3sBQJgTkaeAhsMBQkD
wg0SAAoJEFMBrv2rze3sYr8MAK6T4xcNwigLqlnjoBhj+01e4bvNkfn1EbFxmsOl
qDMcTHHd8uk0j2BcIOMGTEAZLpUHUYqqZuZS22DavhOv4scsNGuv81RLCwFyU1OW
084UKdMPsqsF+8O3z9SVwc/sRIVg4m0snjPhzaDB44KtTmlw6djoBjuzM2wqgVIi
0SixOVTFDMR2TSNADT0A0CfSO9yPZGoiEv4aXspMRXXdKLTCpOgfHqKaAbYQJXAn
Gb/ivv+bZ2a4haFACTgyWUEjYqgE0usNt7pWLngJ9CasK+GMftk0ERkOCT6ioP3O
EF+9hnwbrJIoaTfAqM9xJmwNlVYUN1C0zTQC6BLN3IH/gO8rCU8EY1ZwQuwRClgG
5NIfCxPtqPRqUpFV085wwIr9CmJ96+RUYJZoMnVmn3vCSW8Lknp/lce9vVq2625+
96mK5D/KjrZ+9OOHz1IaZa3g5kXEOqC8OiLgWZEPZUPGzPWkWEeFZkuERAFPtayU
y7daBcBsLOyyQL5EO/4aqDavbA==
=kpXI
-----END PGP PUBLIC KEY BLOCK-----

</template>