<header>
    <img src="../../assets/Michal-Czyz.png" alt="Michał Czyż" id="logo">
</header>
<main>
    Michał Czyż is a high school student living in Poland. Michał is a starting coder, currently he's writing in i.a. C#, VB.NET, C++, Python, Javascript & Angular. Michał wants to be a web designer and front-end
    developer, but he still has some time to change his mind. Besides coding, Michał is also a speedcuber, magician and
    casual gamer. On this website, you will find more about his hobbies and projects.
</main>

<template>
    sapere-aude
</template>