<div id="wrapper">
  <table>
      <tr>
          <th>{{ items[0].type }}</th>
          <th id="version">Version</th>
          <th id="download">Repo</th>
      </tr>
      <tr>
          <td>{{ items[0].content[0].title }}</td>
          <td>{{ items[0].content[0].version }}</td>
          <td><a target="_BLANK" href="{{ items[0].content[0].href }}">[LINK]</a></td>
      </tr>
      <tr>
          <td>{{ items[0].content[1].title }}</td>
          <td>{{ items[0].content[1].version }}</td>
          <td><a target="_BLANK" href="{{ items[0].content[1].href }}">[LINK]</a></td>
      </tr>
      <tr>
          <td>{{ items[0].content[2].title }}</td>
          <td>{{ items[0].content[2].version }}</td>
          <td><a target="_BLANK" href="{{ items[0].content[2].href }}">[LINK]</a></td>
      </tr>
      <tr>
          <td>{{ items[0].content[3].title }}</td>
          <td>{{ items[0].content[3].version }}</td>
          <td><a target="_BLANK" href="{{ items[0].content[3].href }}">[LINK]</a></td>
      </tr>
  </table>
</div>
<div id="wrapper">
  <table>
      <tr>
          <th>{{ items[1].type }}</th>
          <th id="version">Version</th>
          <th id="download">Repo</th>
      </tr>
      <tr>
          <td>{{ items[1].content[0].title }}</td>
          <td>{{ items[1].content[0].version }}</td>
          <td><a target="_BLANK" href="{{ items[1].content[0].href }}">[LINK]</a></td>
      </tr>
  </table>
</div>
<div id="wrapper">
  <table>
      <tr>
          <th>{{ items[2].type }}</th>
          <th id="version">Version</th>
          <th id="download">Repo</th>
      </tr>
      <tr>
          <td>{{ items[2].content[0].title }}</td>
          <td>{{ items[2].content[0].version }}</td>
          <td><a target="_BLANK" href="{{ items[2].content[0].href }}">[LINK]</a></td>
      </tr>
      <tr>
          <td>{{ items[2].content[1].title }}</td>
          <td>{{ items[2].content[1].version }}</td>
          <td><a target="_BLANK" href="{{ items[2].content[1].href }}">[LINK]</a></td>
      </tr>
  </table>
</div>
<div id="wrapper">
  <table>
      <tr>
          <th>{{ items[3].type }}</th>
          <th id="version">Version</th>
          <th id="download">Repo</th>
      </tr>
      <tr>
          <td>{{ items[3].content[0].title }}</td>
          <td>{{ items[3].content[0].version }}</td>
          <td><a target="_BLANK" href="{{ items[3].content[0].href }}">[LINK]</a></td>
      </tr>
      <tr>
          <td>{{ items[3].content[1].title }}</td>
          <td>{{ items[3].content[1].version }}</td>
          <td><a target="_BLANK" href="{{ items[3].content[1].href }}">[LINK]</a></td>
      </tr>
  </table>
</div>