<div id="wrapper">
    <table>
        <tr>
            <th>Python Projects</th>
            <th id="version">Version</th>
            <th id="download">Download</th>
        </tr>
        <tr>
            <td>Hello World!</td>
            <td>1.1</td>
            <td><a target="_BLANK" href="https://github.com/eRgo35/Hello-World">[LINK]</a></td>
        </tr>
        <tr>
            <td>Guess the Number</td>
            <td>1.1.1</td>
            <td><a target="_BLANK" href="https://github.com/eRgo35/Guess-the-Number">[LINK]</a></td>
        </tr>
        <tr>
            <td>Fibonacci Series</td>
            <td>1.0</td>
            <td><a target="_BLANK" href="https://github.com/eRgo35/Fibonacci-Series">[LINK]</a></td>
        </tr>
    </table>
</div>
<div id="wrapper">
    <table>
        <tr>
            <th>C++ Projects</th>
            <th id="version">Version</th>
            <th id="download">Download</th>
        </tr>
        <tr>
            <td>Hello World</td>
            <td>1.0</td>
            <td><a target="_BLANK" download href="../../assets/CPP_APPS/Hello_World_1.0.exe">[LINK]</a></td>
        </tr>
        <tr>
            <td>Telephone Number Converter</td>
            <td>1.0.1</td>
            <td><a target="_BLANK" download href="../../assets/CPP_APPS/Telephone_Number_Converter_1.0.1.exe">[LINK]</a></td>
        </tr>
        <tr>
            <td>Composite Numbers</td>
            <td>1.0</td>
            <td><a target="_BLANK" download href="../../assets/CPP_APPS/Composite_Numbers_1.0.exe">[LINK]</a></td>
        </tr>
        <tr>
            <td>Fibonacci Series Generator</td>
            <td>1.0</td>
            <td><a target="_BLANK" download href="../../assets/CPP_APPS/Fibonacci_Series_Generator_1.0.exe">[LINK]</a></td>
        </tr>
    </table>
</div>
<div id="wrapper">
    <table>
        <tr>
            <th>C++ Projects</th>
            <th id="version">Version</th>
            <th id="download">Download</th>
        </tr>
        <tr>
            <td>JS Calculator</td>
            <td>BETA</td>
            <td><a target="_BLANK" href="https://js-calc.cf">[LINK]</a></td>
        </tr>
    </table>
</div>
<div id="wrapper">
    <table>
        <tr>
            <th>CSS Projects</th>
            <th id="version">Version</th>
            <th id="download">Download</th>
        </tr>
        <tr>
            <td>eRgo Framework</td>
            <td>INDEV</td>
            <td><a target="_BLANK" href="https://github.com/eRgo35/eRgo-Framework">[LINK]</a></td>
        </tr>
    </table>
</div>
<div id="wrapper">
    <table>
        <tr>
            <th>School Projects</th>
            <th id="version">Version</th>
            <th id="download">Download</th>
        </tr>
        <tr>
            <td>Tworzenie Stron Internetowych</td>
            <td>3.0.0</td>
            <td><a target="_BLANK" href="https://tsi.michalczyz.ml">[LINK]</a></td>
        </tr>
        <tr>
            <td>Radio Poligraf</td>
            <td>N/A</td>
            <td><a target="_BLANK" href="https://radio-poligraf.firebaseapp.com">[LINK]</a></td>
        </tr>
    </table>
</div>