<header>
    <h1>Nice to meet you!</h1>
    <h2>You can drop me a line at</h2>
    <h2>michal.czyz@pm.me</h2>
    <hr />
    <h3>Also you can follow me on:</h3>
    <nav>
        <a id="nav-a" target="_blank" href="https://www.facebook.com/M1K3.3RG0">Facebook</a>
        <a id="nav-a" target="_blank" href="https://twitter.com/MIKE_3RG0">Twitter</a>
        <a id="nav-a" target="_blank" href="https://www.instagram.com/m1k3_czyz">Instagram</a>
        <a id="nav-a" target="_blank" href="https://soundcloud.com/user-234094407">Soundcloud</a>
        <a id="nav-a" target="_blank" href="https://www.youtube.com/channel/UCiEQ8ZDBKqxdOTt1DVnoyQQ">YouTube</a>
    </nav>
</header>
<div class="img"></div>
<footer>
    <div>
        <p>Copyright <i (click)="i()">&copy;</i> 2019 Michał Czyż</p>
        <p>All Rights Reserved</p>
    </div>
</footer>